.button {
  position: relative;
  background: rgba(0, 0, 0, 0);
  border: none;
  font-family: Rajdhani-Regular;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 2.18px;
  padding: 15px 30px;
  font-family: Rajdhani-Regular;
  font-size: 14px;
  letter-spacing: 2.18px;
  cursor: pointer;
  pointer-events: all;
  line-break: loose;
  margin-left: 10px;
  height: 50px;
  opacity: 0.8;
  transition: opacity 200ms ease;

  &:active,
  &:focus {
    outline: none;
  }
  &:hover {
    opacity: 1;
  }
}

button.square {
  padding: 15px;
}

button.square--small {
  padding: 5px 10px;
  height: 40px;
}

.button {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.41);
    z-index: -1;
    clip-path: polygon(
      calc(100% - 1px) 11px,
      calc(100% - 1px) 100%,
      100% 100%,
      100% 10px,
      calc(100% - 10px) 0,
      0% 0%,
      0% calc(100% - 10px),
      10px 100%,
      100% 100%
    );
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.61);
    clip-path: polygon(
      calc(100% - 1px) 11px,
      calc(100% - 1px) 100%,
      100% 100%,
      100% 10px,
      calc(100% - 10px) 0,
      0% 0%,
      0% calc(100% - 10px),
      10px 100%,
      100% 100%,
      100% calc(100% - 1px),
      11px calc(100% - 1px),
      1px calc(100% - 11px),
      1px 1px,
      calc(100% - 11px) 1px
    );
  }
}

.button--no-margin {
  margin: 0;
}

.square-diag--reverse {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.81);
    z-index: -1;
    clip-path: polygon(
      calc(100% - 1px) 11px,
      calc(100% - 1px) 100%,
      100% 100%,
      100% 10px,
      calc(100% - 10px) 0,
      0% 0%,
      0% calc(100% - 10px),
      10px 100%,
      100% 100%
    );
    transform: (scaleX(-1));
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.41);
    clip-path: polygon(
      calc(100% - 1px) 11px,
      calc(100% - 1px) 100%,
      100% 100%,
      100% 10px,
      calc(100% - 10px) 0,
      0% 0%,
      0% calc(100% - 10px),
      10px 100%,
      100% 100%,

      100% calc(100% - 1px),
      11px calc(100% - 1px),
      1px calc(100% - 11px),
      1px 1px,
      calc(100% - 11px) 1px
    );
    transform: (scaleX(-1));
  }
}
