.introduction__content {
  transition: all 150ms ease-in-out;
  transform: translateY(0);
}
.introduction--hidden .introduction__content {
  transform: translateY(-10px);
  opacity: 0;
}

.introduction__content {
  position: relative;
  width: 65%;
}

.introduction--center {
  .introduction__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.introduction__content__link {
  bottom: -80px;
  position: absolute !important;
}

.introduction__content__link--center {
  text-align: center;
}
