.introduction {
}

.introduction__content {
  position: relative;
  width: 65%;
}

.introduction__content__link {
  position: absolute;
  bottom: -70px;
  color: white;
  text-decoration: none;
  opacity: 0.2;
  width: 100%;
}
