.ui-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  // pointer-events: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui-container--hidden {
  display: none;
}

.ui-container__center {
  position: relative;
  flex-direction: column;
  pointer-events: none;
  user-select: none;
  svg {
    margin: 10px;
    transform: translateY(50px);
  }
}

.ui-container__center__searching {
  position: absolute;
  bottom: -80px;
  left: 0;
}

.ui-top-left {
  position: absolute;
  top: 40px;
  left: 40px;
  pointer-events: none;
  user-select: none;
}

.ui-top-left__infos {
  p {
    opacity: 0.74;
    font-family: RobotoMono-Regular;
    font-size: 10px;
    color: #dedede;
  }
}

.ui-top-left__infos__fps {
  position: absolute;
  top: 180px;
  left: 80px;
}

.ui-top-left__infos__size {
  position: absolute;
  top: 167px;
  left: 50px;
}

.ui-top-left__infos__date {
  position: absolute;
  top: -11px;
  left: 217px;
}

.ui-top-left__infos__time {
  position: absolute;
  top: -11px;
  left: 6px;
}

.ui-top-left__infos__cam {
  position: absolute;
  top: 139px;
  left: 19px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: red;
}

.ui-top-left__infos__hash {
  position: absolute;
  top: 260px;
  left: 19px;
  width: 140px;
  line-break: anywhere;
  display: block;
  user-select: all;
  pointer-events: all;
  z-index: 9999999999999;
  span {
    font-weight: bold;
    user-select: none;
  }
}

.ui-top-right {
  position: absolute;
  top: 40px;
  right: 40px;
}

.ui-top-right__scan {
  position: absolute;
  top: 15px;
  right: 160px;
}

.ui-top-right__winner {
  position: absolute;
  top: 145px;
  right: 20px;
  font-size: 10px;
  text-align: right;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 13px;
  line-break: anywhere;
  color: rgba(255, 255, 255, 0.5);
  span {
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
  }
}

.ui-bottom-left {
  position: absolute;
  bottom: 40px;
  left: 40px;
  z-index: 999999;
}

.ui-bottom-right {
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: flex;
  z-index: 999;
}

.ui-top-right__current-step {
  position: absolute;
  top: 230px - 22px;
  right: 31px + 2px;
  font-size: 3rem;
  width: 70px;
  text-align: center;
}

.ui-top-right__current-step-next {
  position: absolute;
  top: 254px - 22px - 20px;
  right: 16px + 2px - 20px;
  padding: 20px;
}

.ui-top-right__current-step-prev {
  position: absolute;
  top: 255px - 22px - 20px;
  right: 108px + 2px - 20px;
  padding: 20px;
  svg {
    transform: rotate(180deg);
  }
}

.ui-top-right__current-step-next,
.ui-top-right__current-step-prev {
  opacity: 0.3;
  transition: all 200ms ease;
  &--active {
    cursor: pointer;
    opacity: 1;
  }
}

.ui-top-right__glyph {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 17px;
  right: 10px;
}

.clickable-glyph {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 17px;
  right: 10px;
  z-index: 1;
}

.ui-top-right__unknown-glyph {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 17px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

.ui-center-left {
  position: absolute;
  width: 375px;
  bottom: 250px;
  left: 50px;
}

.ui-top-right__quest-current-step {
  position: absolute;
  width: 150px;
  top: 405px;
  right: 13px;
  opacity: 0.74;
  font-family: RobotoMono-Regular;
  font-size: 12px;
  color: #dedede;
  text-align: right;
}

.ui-center__mouse-infos {
  position: absolute;
  font-size: 10px;
  opacity: 0.5;
  top: 53px;
  left: 102px;
}

.final-center-glyph {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999;
  width: 100px;
  height: 100px;
}
