* {
  box-sizing: border-box;
}

@import url("//fonts.googleapis.com/css?family=Source+Code+Pro:400,700&family=Roboto+Mono:wght:300,400,500,600,700,800,900&display=swap");

$red: #e31c20;
$background: #0d151d;
$lightbackground: #5d737e;
$pink: #3246ff;
$blue: #e74e4e;

@import "components/_scan.scss";
@import "components/_html-overlay.scss";
@import "components/_preloader.scss";
@import "components/_introduction.scss";
@import "components/_ui.scss";
@import "components/_pop-up-message.scss";
@import "components/_incoming-message.scss";
@import "components/_typing-text.scss";
@import "components/_button.scss";
@import "components/_no-responsive.scss";

html,
body,
#root,
.screen {
  background: $background;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Roboto Mono", sans-serif;
}

.screen {
  &.debug-mode {
    touch-action: none;
    user-select: none;
    pointer-events: none;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: none;
    z-index: 999999999999999999;
    transition: all 200ms ease;
  }
  &.black {
    &:after {
      background-color: $background;
    }
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-text-holder {
  width: 800px;
}

body {
  color: white;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    // background: radial-gradient(
    //   ellipse at center,
    //   rgba(255, 255, 255, 0.05) 0%,
    //   rgba(255, 255, 255, 0) 100%
    // );
    z-index: 150;
    mix-blend-mode: overlay;
    pointer-events: none;
  }
}

#html-portal {
  pointer-events: none;
}

#message-portal {
  pointer-events: none;
}

.illustration img {
  position: absolute;
  object-fit: cover;
  filter: brightness(0.1);
}

.stats {
  //display: none;
}

.hidden {
  display: none;
}

a {
  display: inline-block;
  border: 0;
  background: none;
  padding: 0;
}

.text-center {
  text-align: center;
}

.html-box {
  color: white;
  font-size: 1em;

  will-change: text-shadow;
  touch-action: none;
  user-select: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  touch-action: none;
  // opacity: 0;
  // animation: fade-in 3s ease 1s forwards;
  //background: $background;
}

#r3f-canvas {
  // filter: brightness(0.8);
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 50%,
      // rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 1) 100%
    );
    z-index: 150;
    mix-blend-mode: overlay;
    pointer-events: none;
  }
}

#canvas-glyph {
  display: none;
  width: 150px;
  height: 150px;
}

.popup-glyph {
  width: 150px;
  height: 150px;
}

.join-massa {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  width: 250px;
  padding: 20px 40px;
  margin: auto;
  z-index: 9999;
  height: auto;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    z-index: -1;
    clip-path: polygon(
      calc(100% - 1px) 11px,
      calc(100% - 1px) 100%,
      100% 100%,
      100% 10px,
      calc(100% - 10px) 0,
      0% 0%,
      0% calc(100% - 10px),
      10px 100%,
      100% 100%
    );
  }
}
